<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    .row{
        display: flex;
    }
    .col{
        margin-left: 90px;
    }
    .col1{
        margin-left: 840px;
    }
    .container{
        margin: 0 90px;
        text-align: justify;
        padding-top: 5px;
    }
    .col2{
        margin-left: 90px;
        margin-bottom: 20px;
    }
    .col3{
        margin-left: 400px;
        margin-bottom: 20px;
    }
    .col4{
        margin-left: 90px;
        
    }
    .col5{
        margin-left: 400px;
        margin-bottom: 20px; 

    }
    .col6{
        margin-left: 90px;
    margin-bottom: 20px;
    }
    .col7{
        margin-left: 400px;
    }
</style>
<body>
    <div class="sectionOne">
        <div class="row">
            <div class="col">
                <h1 class="h6" style="font-size: 20px;">Controller Of Immigration<br>Singpore
                </h1>
            </div>
            <div class="col1">
                <h3 class="h6" style="font-size: 20px; margin-left: -30px;">Date: <a style="text-decoration: none;font-size: 15px;">07 Aug 2023</a></h3>
            </div>
        </div>
    </div>
<div class="text">
    <h3 style="margin-left: 90px;font-size: 22px;font-weight: 500;">Dear Sir</h3>
</div>
<div class="text1">
    <h3 style="text-align: center; font-weight: 600;font-size: 25px;">LETTER OF INTRODUCTION FOR VISA APPLICATION</h3>
</div>


<div class="container">

    <p style="font-size: 20px; line-height: 35px;">The applicant for the visa , <input type="text" name="name" value="MOST SHAMIMA AKTER" style="border:none;border-bottom: 1px solid black; padding-bottom: 1px; margin-top: -3px;">(name Of applicant)


        <input type="text" name="name" value="BANGLADESH" style="border:none; border-bottom: 1px solid black; padding-bottom: 1px; margin-top: -3px; text-align: center;">(country/place) , holder of passport/travel document no.


        <input type="text" name="name" value="A01698159" style="border:none; border-bottom: 1px solid black; padding-bottom: 1px; margin-top: -3px; text-align: center;"> is coming to Singapore from

        <input type="text" name="name" value="BANGLADESH" style="border:none; border-bottom: 1px solid black; padding-bottom: 1px;margin-top: -3px; text-align: center;">(country/place of embarkation) for the purpose of,


        <input type="text" name="name" value="HOLIDAY" style="border:none; border-bottom: 1px solid black; padding-bottom: 1px; margin-top: -3px;">(e.g., holiday, transit, business, meeting, exhibition,
                visiting friends & relatives, employment, education; for others, please specify). The 
                             applicant is my

               <input type="text" name="name" value="CLIENT" style="border:none; border-bottom: 1px solid black; padding-bottom: 1px; margin-top: -3px;">(e.g., father, mother, brother, sister, son,
                            daughter, spouse, business partner; for others, please specify).

    </p>
</div>


<div class="text2">
    <h3 style="margin-left: 90px;">Yours failthfully</h3>
    <h2 style="border-bottom: 1px solid black; font-size: 20px;margin-right: 742px;margin-left: 90px;font-weight: 600;">Only for application where Local Contact is an individual:</h2>
</div>


<div class="container1" style="margin-top: 50px;">

    <div class="row">
        <div class="col2">
<input type="text" value="" style="border: none; border-bottom: 1px solid black;width:360px"><br>Signature of Local Contact
        </div>
      
        <div class="col3">
            <input type="text" value="" style="border: none; border-bottom: 1px solid black;width:350px;"><br>NRIC (Pink / Blue) No
        </div>
    </div>
    <div class="row">
        <div class="col4">
<input type="text" value="" style="border: none; border-bottom: 1px solid black;width:360px"><br>Name of Local Contact
        </div>
      
        <div class="col5">
            <input type="text" value="" style="border: none; border-bottom: 1px solid black;width:350px"><br>Contact Number
        </div>
    </div>
    <div class="row">
        <div class="col6">
<input type="text" value="" style="border: none; border-bottom: 1px solid black;width:360px"><br>Address of Local Contact
        </div>
       
        <div class="col7">
            <input type="text" value="" style="border: none; border-bottom: 1px solid black;width:350px"><br>Email Address
        </div>
    </div>
</div>


<div class="text3">
    <hr style="border: 2px dotted black; margin-left: 90px; margin-right: 90px; margin-top: 20px;">
    <h2 style="border-bottom: 1px solid black; font-size: 20px;margin-right: 762px;margin-left: 90px;font-weight: 600;margin-top: 10px;margin-bottom: 10px;">Only for application where Local Contact is a company:</h2>
</div>

<div class="container2" style="margin-top: 50px;">

    <div class="row">
        <div class="col2">
<input type="text" value="" style="border: none; border-bottom: 1px solid black;width:360px"><br>Signature of person acting on behalf of the Unique<br> Entity Number (UEN) of
company/firm
        </div>
      
        <div class="col3">
            <input type="text" value="" style="border: none; border-bottom: 1px solid black;width:350px"><br>Unique Entity Number (UEN) of<br> company/firm
        </div>
    </div>
    <div class="row">
        <div class="col4">
<input type="text" value="" style="border: none; border-bottom: 1px solid black;width:360px"><br>Name, NRIC No. and Designation/Capacity
        </div>
      
        <div class="col5">
            <input type="text" value="" style="border: none; border-bottom: 1px solid black;width:350px"><br>Contact Number
        </div>
    </div>
    <div class="row">
        <div class="col6">
<input type="text" value="" style="border: none; border-bottom: 1px solid black;width:360px"><br>Company Name and Address
        </div>
       
        <div class="col7">
            <input type="text" value="" style="border: none; border-bottom: 1px solid black;width:350px"><br>Email Address
        </div>
    </div>
</div>
<br><br>
<div>
    <h4 style="margin-left: 90px;">V39A</h4>
</div>
</body>
</html>