<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title></title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .table-container {
      font-family: "Roboto", sans-serif;
     width: 100%;
     padding: 0 20px;
      margin: auto;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2a8;
    }
    .logo-img {
      margin: 10px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid black;
      padding: 5px 15px;
      text-align: center;
    }
    th {
      font-size: 17px;
    }
    td{
      font-size: 14px;
    }
    .heading {
      text-align: center;
      text-decoration: underline;
      font-weight: 700;
    }
    .name-container {
      text-decoration: underline;
      margin: 50px auto;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .name-container h1,
    .heading {
      font-weight: 200;
      font-size: 25px;
    }
  </style>
  <body>
    <div class="table-container">
      <img class="logo-img" src="../img.png" alt="logo" />

      <h1 style="font-weight: 700" class="heading">TOUR ITERNARY</h1>

      <div class="name-container">
        <% allData.forEach((e)=>{ %>
        <h1><%= e.guest_name %>,</h1>

        <% }) %>
      </div>

      <table>
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>To</th>
        </tr>

        <% JSON.parse(allData[0].iternary).forEach((e)=>{ %>
        <tr>
          <td><%= e.date %></td>
          <td><%= e.from %></td>
          <td><%= e.to %></td>
        </tr>

        <% }) %>
      </table>
    </div>
  </body>
</html>
