<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title></title>
  </head>
  <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .table-container{
        font-family: "Roboto", sans-serif;
        width: 1024px;
        margin: auto;
    }
    tr:nth-child(even) {background-color: #f2f2f2a8;}
    .logo-img{
        margin: 40px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid black;
      padding: 10px 25px;
      text-align: center;
    }
    th {
      font-size: 30px;
    }
    .heading {
      text-align: center;
      text-decoration: underline;
    }
    .name-container {
      text-decoration: underline;
      margin: 50px auto;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .name-container h1,
    .heading {
      font-weight: 200;
      font-size: 25px;
    }
  </style>
  <body>
    <div class="table-container">
            <img class="logo-img" src="./img.png" alt="logo">

      <h1 class="heading">TOUR ITERNARY</h1>

      <div class="name-container">
        <h1>MD MERAZUL ISLAM,</h1>
        <h1>MOST SHAMIMA AKTER,</h1>
        <h1>MD MERAZUL ISLAM,</h1>
        <h1>MOST SHAMIMA AKTER,</h1>
        <h1>MD MERAZUL ISLAM,</h1>
        <h1>MOST SHAMIMA AKTER,</h1>
        <h1>MD MERAZUL ISLAM,</h1>
        <h1>MOST SHAMIMA AKTER,</h1>
        <h1>MD MERAZUL ISLAM,</h1>
        <h1>MOST SHAMIMA AKTER</h1>
      </div>

      <table>
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>To</th>
        </tr>
        <tr>
          <td style="font-weight: 400; font-size: 20px">25-Aug-23</td>
          <td style="font-weight: 400; font-size: 20px">Airport</td>
          <td style="font-weight: 400; font-size: 20px">V Hotel Lavander</td>
        </tr>
        <tr>
          <td style="font-weight: 400; font-size: 20px">26-Aug-23</td>
          <td style="font-weight: 400; font-size: 20px">
            9am Hotel to City Tour
          </td>
          <td style="font-weight: 400; font-size: 20px">
            7pm Universal To Hotel
          </td>
        </tr>
        <tr>
          <td style="font-weight: 400; font-size: 20px">27-Aug-23</td>
          <td style="font-weight: 400; font-size: 20px">9am Hotel to Market</td>
          <td style="font-weight: 400; font-size: 20px">2pm Market To Hotel</td>
        </tr>
        <tr>
          <td style="font-weight: 400; font-size: 20px">28-Aug-23</td>

          <td style="font-weight: 400; font-size: 20px">
            9am Hotel to Merrina
          </td>
          <td style="font-weight: 400; font-size: 20px">
            9pm Merrina To Hotel
          </td>
        </tr>
        <tr>
          <td style="font-weight: 400; font-size: 20px">29-Aug-23</td>
          <td style="font-weight: 400; font-size: 20px">Hotel</td>
          <td style="font-weight: 400; font-size: 20px">Airport</td>
        </tr>
      </table>
    </div>
  </body>
</html>
